# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Matlab
6. Java

Some of the popular libraries that Data Scientists use are:
1. TenserFlow
2. Numpy
3. Sckit-learn

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are few examples of arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
5+(4*3)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List popular languages for Data Science
* List popular languages for Data Science
* List popular languages for Data Science
* List popular languages for Data Science

## Author
hfkarabacakli